In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("salary.csv")
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

**Input**

In [7]:
inputs = data.drop('salary_more_then_100k',axis='columns')

In [8]:
target = data['salary_more_then_100k']

In [9]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [12]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])

In [13]:
inputs['job_n'] = le_company.fit_transform(inputs['job'])

In [14]:
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])

In [15]:
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [16]:
input_n = inputs.drop(['company','job','degree'],axis='columns')
input_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [17]:
from sklearn import tree

In [19]:
model = tree.DecisionTreeClassifier()

In [20]:
model.fit(input_n,target)

DecisionTreeClassifier()

In [22]:
model.score(input_n,target)

1.0

In [26]:
model.predict([[2,0,1]])

/home/shailesh/.local/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])

# Excercise : Titanic

In [27]:
df = pd.read_csv('Titanic.csv')

In [29]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Unnamed: 12
0,1,0,3,"""Braund","Mr. Owen Harris""",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"""Cumings","Mrs. John Bradley (Florence Briggs Thayer)""",female,38.0,1,0,PC 17599,71.2833,C85,C

In [36]:
df_inputs = df.drop(['Name','SibSp','Parch','Ticket','Cabin','Unnamed: 12','Embarked'],axis = 'columns')

In [37]:
df_inputs

,PassengerId,Survived,Pclass,Sex,Age,Fare
0,1,0,3,"Mr. Owen Harris""",male,A/5 21171
1,2,1,1,"Mrs. John Bradley (Florence Briggs Thayer)""",female,PC 17599
2,3,1,3,"Miss. Laina""",female,STON/O2. 3101282
3,4,1,1,"Mrs. Jacques Heath (Lily May Peel)""",female,113803
4,5,0,3,"Mr. William Henry""",male,373450
...,...,...,...,...,...,...
886,887,0,2,"Rev. Juozas""",male,211536
887,888,1,1,"Miss. Margaret Edith""",female,112053
888,889,0,3,"Miss. Catherine Helen """"Carrie""""""",female,W./C. 6607
889,890,1,1,"Mr. Karl Howell""",male,111369
890,891,0,3,"Mr. Patrick""",male,370376

In [38]:
target = df['Survived']

In [39]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [40]:
# from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [41]:
le_sex = LabelEncoder()
le_age = LabelEncoder()
le_fare = LabelEncoder()

In [44]:
df_inputs['sex_n'] = le_sex .fit_transform(df_inputs['Sex'])

In [46]:
df_inputs['age_n'] = le_age .fit_transform(df_inputs['Age'])

In [50]:
df_inputs['fare_n'] = le_fare .fit_transform(df_inputs['Fare'])
df_inputs

,PassengerId,Survived,Pclass,Sex,Age,Fare,sex_n,age_n,fare_n
0,1,0,3,"Mr. Owen Harris""",male,A/5 21171,537,1,523
1,2,1,1,"Mrs. John Bradley (Florence Briggs Thayer)""",female,PC 17599,738,0,596
2,3,1,3,"Miss. Laina""",female,STON/O2. 3101282,158,0,669
3,4,1,1,"Mrs. Jacques Heath (Lily May Peel)""",female,113803,729,0,49
4,5,0,3,"Mr. William Henry""",male,373450,657,1,472
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Rev. Juozas""",male,211536,798,1,101
887,888,1,1,"Miss. Margaret Edith""",female,112053,175,0,14
888,889,0,3,"Miss. Catherine Helen """"Carrie""""""",female,W./C. 6607,91,0,675
889,890,1,1,"Mr. Karl Howell""",male,111369,467,1,8
890,891,0,3,"Mr. Patrick""",male,370376,540,1,466

In [60]:
df_inputs = df_inputs.drop(['Sex','Age','Fare'],axis = 'columns')

In [61]:
from sklearn import tree

In [62]:
model = tree.DecisionTreeClassifier()

In [63]:
df_inputs_n = df_inputs.drop('Survived',axis = 'columns')

In [64]:
df_inputs_n

     PassengerId  Pclass  sex_n  age_n  fare_n
0              1       3    537      1     523
1              2       1    738      0     596
2              3       3    158      0     669
3              4       1    729      0      49
4              5       3    657      1     472
..           ...     ...    ...    ...     ...
886          887       2    798      1     101
887          888       1    175      0      14
888          889       3     91      0     675
889          890       1    467      1       8
890          891       3    540      1     466

[891 rows x 5 columns]

In [66]:
model.fit(df_inputs_n,target)

DecisionTreeClassifier()

In [67]:
model.score(df_inputs_n,target)

1.0

In [71]:
model.predict([[888,1,175,0,14]])

/home/shailesh/.local/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])